footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;

  span {
    font-weight: $font-light;
  }

  ul {
    display: flex;

    li {
      padding: 1rem;
    }
  }
}
