.trending__title {
  position: absolute;
  top: 14%;
  left: 10%;
  z-index: 10;
  font-size: 2rem;

  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg) translate(0, -10rem);
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;

  hr {
    display: inline-block;
    height: 10rem;
    margin: 1rem 0;
  }
}
