header {
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;

  .trending__title {
    top: 70%;
  }
}

.header__body {
  width: 70%;
  position: relative;

  &--title {
    margin-bottom: 2rem;
    font-weight: $font-black;
  }

  &--body {
    margin-bottom: 4rem;
    font-weight: $font-light;
    color: $color-black-2;
  }
}
