header {
  position: relative;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;

  .trending__title {
    transform: rotate(-90deg) translate(-45%, -1090%);
  }
}

.header__body {
  width: 70%;
  position: relative;

  &--title {
    margin-bottom: 2rem;
    font-weight: $font-black;
  }

  &--body {
    margin-bottom: 4rem;
    font-weight: $font-light;
    color: $color-black-2;
  }
}

.section__title {
  position: absolute;
  transform: rotateZ(-90deg) translate(0, -100%);
  margin-left: 5%;

  &--item {
    font-size: 2.4rem;

    &:last-child {
      text-transform: uppercase;
      font-weight: $font-bold;
    }

    &:not(:last-child) {
      color: $color-grey-3;
    }

    &:first-child::after {
      display: inline-block;
      content: "";
      border-bottom: 1px solid $color-grey-2;
      width: 15rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
